<div id='question_index'>

  <div id="quote">
    <%= @quote %>
  </div>

  <div id='all_questions'>
    <% @questions.each do |question| %>
    <div class="question">

      <h2><%= link_to "#{question.title}", question_path(question) %></h2>

      <p><%= question.content %></p>

      <div class="upvote">
        <%= form_for([question, question.votes.build]) do |f| %>
        <%= f.submit %>
        <% end %>
      </div>

      <div class="downvote">
        <%= link_to 'Downvote', url_for(controller: :votes, question_id: question.id), method: :delete, data: { question_id: question.id} %>
      </div>

      <div class="question_votes">
        <%= question.votes.count %>
      </div>

    </div>
    <% end %>
  </div>

  <div id='new_questions'>
    <%= form_for @question do |f| %>
      <%= f.label :title %>:
      <%= f.text_field :title %><br />

      <%= f.label :content %>:
      <%= f.text_field :content %><br />

      <%= f.submit %>
    <% end %>
  </div>
</div>
